<div id="geral">
  <div id="foto">
    <div id="armor">
        <h3>Armadura de Capitão</h3>
        <p>+25% vs. Água</p>
    </div>
  </div>

  <div id="nomeInfo">
    <h3 id="nome">Raelle - Maga</h3>
    <div id="vida">
      <p>Vida:</p>
        <div id="barraVida">
            <div id="barraInterior" [ngStyle]="{'width': vida*100/vidaMax + '%'}"><p>{{ vida*100/vidaMax }}%</p></div>
        </div>
      <input max="80" min="0" id="numVida" type="number" [(ngModel)]="vida" />
    </div>
      <div id="xp">
        <p>Nível: 3</p>
        <div id="barraXp">
          <div id="barraXpInt" [ngStyle]="{'width': xp*100/xpMax + '%'}"><p>{{ xp }}/{{ xpMax }}</p></div>
        </div>
        <input max="5500" min="0" id="numXP" type="number" [(ngModel)]="xp" />
      </div>
    <div id="maos">
        <div id="maoEsquerda"></div>
        <div id="maoDireita"></div>
    </div>
  </div>

  <div id="atributos">
    <div id="atributosBase">

    </div>
    <div id="atributosAdd">

    </div>
    <div id="atributosTotais">

    </div>
  </div>
</div>
