<div id="geral">
    <div [routerLink]="['/Rael']" id="Rael">
        <div id="nomeRael">
            <h3>Raelle</h3>
        </div>
    </div>
    <div [routerLink]="['/Kamito']" id="Kamito">
        <div id="nomeKamito">
            <h3>Kamito</h3>
        </div>
    </div>
    <div [routerLink]="['/Kumoto']" id="Kumoto">
        <div id="nomeKumoto">
            <h3>Kumoto</h3>
        </div>
    </div>
    <div [routerLink]="['/Lan']" id="Lan">
        <div id="nomeLan">
            <h3>Lanthorn</h3>
        </div>
    </div>
</div>

<div [routerLink]="['/Inventario']" id="inventario">
    <h2>Inventário</h2>
</div>